@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@*<a href="#link" class="btn btn-primary" role="button">New Movie</a>*@

@Html.ActionLink("New Movie", "New", "Movies", new {@class="btn btn-primary"})
<br><br />
<table id="customers" class="table table-striped"">
<thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
</thead>
<tbody>
    @foreach (var s in Model.Movies)
    {
        <tr>  
            <td>@Html.ActionLink(s.Name, "Edit", "Movies", new { id = s.ID }, null)</td>
            <td>@s.GenreType.name</td>
        </tr>
    }
    </tbody>
</table>


