@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table id="customers" class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
</thead>
<tbody>
    @foreach (var s in Model.Movies)
    {
        <tr>  
            <td>@Html.ActionLink(s.Name, "Details", "Movies", new { id = s.ID }, null)</td>
            <td>@s.GenreType.name</td>
        </tr>
    }
    </tbody>
</table>


