@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

*@


@if(!Model.Customers.Any())
{
}



<table name ="CustomerTable" id="customers" class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>

       @foreach (var s in Model.Customers)
       {
        <tr>
            <td>@Html.ActionLink(s.Name, "Edit", "Customers",new { id = s.Id}, null)</td>
            <td>@s.MembershipType.name</td>
        </tr>
       }
        </tbody>
    </table>

